{% extends "layout/layout.html" %}
{% block content%}

<section style="margin-bottom: 10px;">
    <div class="wow bounceInUp" data-wow-delay="0.1s">
        <h1 style="text-align: center;color: white; font-family: mayan;  font-weight: bold; ">
            Proveedores</h1>
        <img src="media/linea.png" alt="" style="display: block;
             margin-left: auto;
             margin-right: auto; width: 60px;">
    </div>
</section>

<div class="row my-3" style="padding: 0 !important; margin: 0 0 0 0 !important; background-color: #B6A991 ;">

    <form id="divDetalleProveedor" class="col-5" method="POST" action="/administrador/tlachicuates/Proveedores">
        <div class="card shadow" style="background-color: #E3C4A8 ">
            <input type="hidden" value="" id="bandera1" name="bandera1">
            <div class="card-header" style="background-color: #55a277 !important;">
                <div class="row">
                    <div class="col-10" style="display: table;">
                        <span class="h5" style="color: #E3C4A8; font-family:  'Alegreya Sans SC';  font-weight: bold;  display:table-cell;
                              vertical-align:middle;">Detalle del Proveedor</span>
                    </div>
                    <div class="col-2">
                        <button class="btn-sm btn-outline-danger float-end" type="button"
                            onclick="setFormularioDetalleVisible(false);"><i class="fas fa-times"></i></button>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div class="form">
                    <div class="row">
                        <div class="col-6">
                            <label for="txtCodigoP" class="labelForm">Código del Proveedor</label>
                            <input id="txtCodigoP" type="text" class="form-control rounded-left inputForm"
                                placeholder="Codigo" readonly name="txtCodigoP" {%if Proveedor%} value="{{Proveedor[0]}}" {%endif%} />
                        </div>
                        <div class="col-6">
                            <label for="txtCodigoU" class="labelForm">Código del Usuario</label>
                            <input id="txtCodigoU" type="text" class="form-control rounded-left inputForm"
                                placeholder="Codigo" readonly name="txtCodigoU" {%if Proveedor%} value="{{Proveedor[0]}}" {%endif%} />
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-6">

                            <div class="my-3" id="txtNombrediv">
                                <label for="txtNombre" class="labelForm">Nombre</label>
                                <input id="txtNombre" type="text" class="form-control rounded-left inputForm"
                                    placeholder="Nombre" required name="txtNombre" {%if Proveedor%} value="{{Proveedor[1]}}" {%endif%}/>
                            </div>
                        </div>
                        <div class="col-6">

                            <div class="my-3" id="txtApePaternodiv">
                                <label for="txtApePaterno" class="labelForm">Apellido Paterno</label>
                                <input id="txtApePaterno" type="text" class="form-control rounded-left inputForm"
                                    placeholder="Apellido Paterno" required name="txtApePaterno" {%if Proveedor%} value="{{Proveedor[2]}}" {%endif%}/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">

                            <div class="my-3" id="txtApeMaternodiv">
                                <label for="txtApeMaterno" class="labelForm">Apellido Materno</label>
                                <input id="txtApeMaterno" type="text" class="form-control rounded-left inputForm"
                                    placeholder="Apellido Materno" required name="txtApeMaterno" {%if Proveedor%} value="{{Proveedor[3]}}" {%endif%}/>
                            </div>
                        </div>
                        <div class="col-6">

                            <div class="my-3" id="txtTelefonodiv">
                                <label for="txtTelefono" class="labelForm">Telefono</label>
                                <input id="txtTelefono" type="text" class="form-control rounded-left inputForm"
                                    placeholder="Apellido Paterno" required name="txtTelefono" {%if Proveedor%} value="{{Proveedor[4]}}" {%endif%}/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">

                            <div class="my-3" id="txtproveedordiv">
                                <label for="txtproveedor" class="labelForm">Nombre de la Empresa</label>
                                <input id="txtproveedor" type="text" class="form-control rounded-left inputForm"
                                    placeholder="Nombre de la Empresa" required name="txtproveedor" {%if Proveedor%} value="{{Proveedor[5]}}" {%endif%}/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="my-3" id="txtemaildiv">
                                <label for="txtemail" class="labelForm">Email</label>
                                <input id="txtemail" type="email" class="form-control rounded-left inputForm"
                                    placeholder="Email" required name="txtemail" {%if Proveedor%} value="{{Proveedor[5]}}" {%endif%}/>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <div class="my-4 text-center" id="buttonsAdmin">
                <button class="btn btn-primary buttonSave" type="submit" onclick="$('#bandera1').val(1); loadingProveedores();"><i
                        class="fas fa-save " style="color: #f9f9f9" type="button"></i>&nbsp;&nbsp;Guardar</button>
                <button class="btn btn-danger mx-3 buttonDelete" type="submit" onclick="$('#bandera1').val(2); loadingProveedores();"><i
                        class="fas fa-trash " style="color: #f9f9f9"></i>&nbsp;&nbsp;Eliminar</button>
                <button class="btn btn-primary" onclick="limpiarFormulario(); " type="button"><i class="fas fa-backspace"
                        style="color: #f9f9f9"></i>&nbsp;&nbsp;Nuevo</button>
            </div>
        </div>
    </form>

    <form id="divTablaProveedores" class="col-12" method="POST" action="/administrador/tlachicuates/Proveedor">
        <input type="hidden" value="" id="banderaOjo" name="bandera">
        <div class="card shadow" style="background-color: #E3C4A8 ">

            <div class="card-header " style="background-color: #55a277 !important;">
                <div class="row">
                    <div class="col-4 " style="display:table;">
                        <span class="h5" style="color: #E3C4A8; font-family:  'Alegreya Sans SC';  font-weight: bold;  display:table-cell;
                              vertical-align:middle;">Catálogo de Proveedores</span>
                    </div>


                    <div class="col-5  " id="buttonAddAdmin">
                        <button class="btn-sm btn-outline-success float-end mx-4" type="button"
                            onclick="setFormularioDetalleVisible(true);"><i class="fas fa-plus">&nbsp;&nbsp;Agregar
                                Nuevo</i></button>
                    </div>

                </div>
            </div>

            <div class="card-body">
                <table class="table table-hover" id="tablaProveedores">
                    <thead class="text-center"
                        style="color: #373737;  font-family: 'Alegreya Sans SC';  font-weight: bold;">
                        <tr>
                            <th>Email</th>
                            <th>Nombre</th>
                            <th>Rol</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbodyProveedores" style="color: #373737;  font-family: 'Be Vietnam';" class="text-center">
                        {%for Proveedor in proveedores %}
                        <tr>
                            <td>{{Proveedor[0]}}</td>
                            <td>{{Proveedor[1]}}</td>
                            <td>{{Proveedor[2]}}</td>
                            <td><button><a type="submit" onclick="mostrarDetalleProveedor('{{Proveedor[3]}}'); loading();"><i
                                            class="fas fa-eye"></i></a></button> </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
</div>


<footer class="text-center text-white" style="background-color: #f1f1f1; padding: 0 !important; margin: 0 !important"">
    <!-- Grid container -->
    <div class=" container pt-4">

    <!-- Section: Social media -->
    <section class="mb-2">
        <!-- Facebook -->
        <a class="btn btn-link btn-floating btn-lg m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a class="btn btn-link btn-floating btn-lg  m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>

        <!-- Instagram -->
        <a class="btn btn-link btn-floating btn-lg m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>


    </section>
    <!-- Section: Social media -->
    </div>

    <div class="text-dark mb-2">
        <p>¡Siguenos en nuestras redes para estar al tanto de todas las novedades!</p>
    </div>

    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: #373737; color: #f9f9f9;">
        © 2023 Copyright: Designed by TLACHICUATES
    </div>
    <!-- Copyright -->
</footer>

<script type="text/javascript" src="../../static/js/Proveedores.js"></script>

{%if Proveedor%} 
<script>
$("#selectRol option[value='{{Proveedor[7]}}']").prop("selected", true);
</script>
{%endif%}
<script type="text/javascript">
    inicializarModuloProveedores();
</script>
<script>
//puedes deshabilitar el paginador
$(document).ready( function () {
  $('#tablaProveedores').DataTable({
        "columnDefs": [
            { "orderable": false, "targets": 3 }
        ]
    });
});

</script>
{% endblock %}