{% extends "layout/layout.html" %} {% block content%}
<div class="container">
    <!-- Navigation titulo.html-->
    <section style="margin-bottom: 10px;">
        <div class="wow bounceInUp" data-wow-delay="0.1s">
            <h1 style="text-align: center;color: white; font-family: mayan;  font-weight: bold; ">
                Contacto</h1>
        </div>
    </section>


    <!-- Form -->
    <form class="formContacto">
        <input type="text" name="Nombre" placeholder="Nombre">
        <input type="text" name="Correo" placeholder="Correo">
        <input type="text" name="Telefono" placeholder="Teléfono">
        <textarea name="mensaje" placeholder="Escriba aqui su mensaje"></textarea>
        <input type="button" value="Enviar" id="boton">
    </form>

    <!-- Footer -->

    <section class="social">
        <p>Follow me</p>
        <div class="links">
            <a href="https://facebook.com">
                <i class="fab fa-facebook-f iconos"></i>
            </a>
            <a href="https://twitter.com/Ramick616?s=09">
                <i class="fab fa-twitter iconos"></i>
            </a>
            <a href="https://linkdin.com">
                <i class="fab fa-linkedin iconos"></i>
            </a>
        </div>
    </section>

</div>


{% endblock %}