{% extends "layout/layout.html" %}
{% block content%}
<div class="container">
  <!-- Navigation titulo.html-->

  <!-- SHOWCASE -->
  <header class="showcase">
    <h1 style="font-family: mayan;" class="wow bounceInUp" data-wow-delay="0.5s">Tlachicuates</h1>
    <p style="font-family: blackrocky " class="wow bounceInUp"
      data-wow-delay="0.5s">Una empresa entusiasta apasionado por la cultura del pulque, somos expertos en el sector de la gastronomía y con una pasión por la cultura mexicana, estamos convencidos de que nuestro producto le encantara a tu paladar.</p>
    <a href="#" class="btn wow bounceInUp" data-wow-delay="0.5s">
      Ver Más <i class="fas fa-chevron-right"></i>
    </a>
  </header>

  <!-- NEWS CARDS -->
  <div class="news-cards">
    <div class="wow bounceInLeft" data-wow-delay="0.5s" url="">
      <img class="imagen" src="../../static/img/pulquePinna.jpg" alt="" />
      <h3>Pulque sabor Piña</h3>
      <p class="justi"> El pulque de piña es una variante de la bebida tradicional mexicana elaborada
        a partir del jugo fermentado del aguamiel al que se le agrega piña fresca.
      </p>
      <a href="#" class="animacioncomprar">Comprar <i class="fas fa-angle-double-right"></i></a>
    </div>
    <div class="wow bounceInUp" data-wow-delay="0.5s">
      <img class="imagen" src="../../static/img/pulqueGuayaba.jpg" alt="" />
      <h3>Pulque sabor Guayaba</h3>
      <p class="justi" style="padding-top: 4.2px;">El pulque sabor guayaba es una variante de la bebida tradicional mexicana
        que se elabora añadiendo guayabas maduras al jugo fermentado.
      </p>
      <a href="#" class="animacioncomprar">Comprar <i class="fas fa-angle-double-right"></i></a>
    </div>
    <div class="wow bounceInUp" data-wow-delay="0.5s">
      <img class="imagen" src="../../static/img/pulqueFresa.jpg" alt="" />
      <h3>Pulque sabor Fresa</h3>
      <p style="padding-top: 4.2px;" class="justi">El pulque de fresa es una variante de la bebida tradicional mexicana que
        se elabora añadiendo jarabe de fresa al jugo fermentado del aguamiel del maguey.
      </p>
      <a href="#" class="animacioncomprar">Comprar <i class="fas fa-angle-double-right"></i></a>
    </div>
    <div class="wow bounceInRight" data-wow-delay="0.5s">
      <img class="imagen" src="../../static/img/pulqueCoco.jpg" alt="" />
      <h3>Pulque sabor coco</h3>
      <p style="padding-top: 4.2px;" class="justi">El pulque sabor coco es una variante de la bebida tradicional mexicana
        que se elabora añadiendo pulpa de coco al jugo fermentado del aguamiel del maguey.
      </p>
      <a href="#" class="animacioncomprar">Comprar <i class="fas fa-angle-double-right"></i></a>
    </div>
  </div>

  <!-- Card Banner 1-->
  <section class="cards-banner-one wow fadeInLeftBig" data-wow-delay="0.5s">
    <div class="content">
      <h2>Inversiones para Tlachicuates</h2>
      <!-- lorem 20 -->
      <p class="justi texto2">Estamos buscando un inversionista que comparta nuestra visión y esté dispuesto a colaborar con nosotros en el desarrollo de este proyecto empresarial. Nuestro objetivo es asegurar el éxito a largo plazo del negocio y brindar una excelente rentabilidad a los inversionistas.</p>
      <a href="#" class="btn">Comprar <i class="fas fa-chevron-right"></i></a>
    </div>
  </section>

  

  <!-- Footer -->

  <section class="social">
    <p>Follow me</p>
    <div class="links">
      <a href="https://facebook.com">
        <i class="fab fa-facebook-f iconos"></i>
      </a>
      <a href="https://twitter.com/Ramick616?s=09">
        <i class="fab fa-twitter iconos"></i>
      </a>
      <a href="https://linkdin.com">
        <i class="fab fa-instagram iconos"></i>
      </a>
    </div>
  </section>

</div>


{% endblock %}